div.BG {
  background-color: darkgrey;
}

html {
  background-color: darkgrey;
}

div.container {
  max-width: 700px;
  max-height: 600px;
  background-color: white;
  margin-left: 2em;
  margin-bottom: 8em;
  padding: 2em;
}

h1 {
  color: turquoise;
}

.FL {
  float: left;
  margin-right: 20px;
}

.navbar-brand {
  background-color: turquoise;
  color: white !important;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: turquoise;
}

@media screen and (max-width: 992px) {
  div.container {
    max-width: 60%;
    max-height: 90%;
  }
}

@media screen and (max-width: 768px) {
  div.container {
    max-width: 60%;
    max-height: 60%;
  }
}

@media screen and (max-width: 525px) {
  div.container {
    max-width: 80%;
    max-height: 40%;
  }
}

.ml-auto {
  text-align: right;
}
